*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/MyJavaConsoleApp
.DS_Store
*/build/*
*/bin/*
*/gen/*
/captures
.externalNativeBuild
/app/release
*.apk
*.7z
*.zip
*.rar
*.gz
*.bz2
*.jar
*.aar
*.bak
*.class
*.dex
*.tar
*.bin
log.txt
